.chicago {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.chicago.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

/* Ensure headings also change */
.chicago.dark-mode h1,
.chicago.dark-mode h3,
.chicago.dark-mode p {
    color: white !important; /* Force override any existing styles */
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    flex: 1;
    padding-right: 20px;
    margin-left: 12rem;
    
  
}
 .text-container h1{
    font-size: 3rem;
  font-weight: bold;
  color:#0e00a3;
 }

 .text-container  h3{
    font-size: 2rem;
    font-weight: 900;
    color:#414141;
 }

 .text-container p{
    color: black;
    font-weight: bold;
 }
.image-container {
    flex: 1;
    text-align: center;
    margin-left: 4rem;
}

.image-container img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
