
.header {
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
   
     margin-right: 25rem;
}


.header section {
color: #072516;
padding: 10px 13%;
position: relative;
}





.banner {
  text-align: left;
 
  max-width: 32rem;

}

@media (min-width: 640px) {
  .banner {
    text-align: left;
  }
}


.banner p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  max-width: 42rem;
  margin: 0 auto;
  color: #000000;

   
}

.banner p span {
  color: #555555;
  font-weight: 600;
}

.banner p span.font-medium {
  font-weight: 500;
}

.banner p span.font-bold {
  font-weight: 700;
}

.banner p span.italic {
  font-style: italic;
}




#button1 {
    background-color: #5998ff;
    color: white;
    border: none;
   
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    width: 140px;
}

#button1:hover {
  background-color: #4eba82;
}
.banner-img {
  position: absolute;
  left: 30%; /* Adjust for better positioning */
  top: 12%; /* Slightly lower */
  width: 450px; /* Increase container size if needed */
}

.banner-img img {
  margin-left: 400px;
  width: 45rem; /* Increase width */
  height: 24rem; /* Increase height */
  object-fit: cover;
  border-radius: 15%; /* Softer rounded corners */
  border: 4px solid white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow for depth */
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
 
}

.banner-img img:hover {
  transform: scale(1.05); /* Subtle zoom-in effect */
}

