/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.nav img {
  height: 120px;
  transition: transform 0.3s ease-in-out;
  margin-right: auto;
  margin-left: 40px;
}

.nav img:hover {
  transform: scale(1.1);
}


.nav-links {
  background-color: #ffffff;
  list-style: none;
  display: flex;
  gap: 30x;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
   width: 100%;
  max-width: auto; /* Adjust as needed */
  margin: 0 auto; /* Centers content */
  display: flex;
  flex-wrap: wrap; 
  margin-left: 90px;
}

.nav-links li {
  position: relative;
  font-size: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 12rem;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}



/* Hover Effects */
.nav-links a:hover {
  color: #777777;
  transform: scale(1.05);
}

/* Underline Animation */
.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
 
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark .nav-links a {
  color: #ffffff; /* Change text color in dark mode */
}

.dark .nav-links {
  background-color: #000000; /* Dark background for nav */
}

.dark .nav-links a:hover {
  color: #ffc107;
  transform: scale(1.05);
}



/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
  }
}
