

body {
        font-family: 'Arial', sans-serif;
    line-height: 1.6;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark theme styles */
body.dark {
        font-family: 'Arial', sans-serif;
    line-height: 1.6;
  background-color: #121212;
  color: white;
}




h2 {
    font-size: 2rem;

}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1em;
}


.scroll-to-top{
    background-color:#f8aa02;
    width: 200px; height: 60px; border-radius: 20px;
    margin-bottom: 20px; margin-left: 525px;
}

  /* h2#enjoy {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #333;
  } */



  .menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

 